Source: ec2api
Section: admin
Priority: optional
Maintainer: Pramod Venkatesh <pramod.venkatesh@ril.com>
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 8), python-pbr (>=0.6), git-core, git
Standards-Version: 3.9.5

Package: ec2api
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
Description: Ec2-Api service for openstack services
